<div
  id="schedule-edit-grid"
  x-data="scheduleEdit('{% url 'scheduling:schedule-edit-confirm-remove-song' %}')"
  x-init="init()"
>
  <form method="post" action="{% url 'scheduling:schedule-edit' %}" id="schedule-edit-form" @submit="onSubmit">
    {% csrf_token %}
    <input type="hidden" name="schedule_semester_id" value="{{ schedule_semester_id }}">
    <input type="hidden" name="schedule_semester_updated_at" value="{{ schedule_semester_updated_at }}">
    {{ formset.management_form }}
    {{ songs_formset.management_form }}
    {% if formset.non_form_errors %}
      <ul class="errors">
        {% for error in formset.non_form_errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
    <div id="schedule-edit-rows">
      {% for form in formset %}
        {% include "scheduling/_schedule_edit_row.html" %}
      {% endfor %}
    </div>
    <button type="submit" id="save-rehearsal-changes">Save Changes</button>
    <a href="{% url 'scheduling:schedule' %}?view=all" id="cancel-schedule-edit">Cancel</a>
  </form>
  <p id="running-order-delete-confirm-error" x-show="deleteError" x-text="deleteError" role="alert"></p>

  <template id="running-order-empty-form-template">
    {% include "scheduling/_running_order_row.html" with form=songs_formset.empty_form %}
  </template>

  <dialog id="running-order-delete-confirm-dialog" x-ref="deleteDialog">
    <div id="running-order-delete-confirm-body" x-html="confirmHtml"></div>
    <button type="button" id="confirm-delete-running-order-songs" @click="confirmDelete">Remove Anyway</button>
    <button type="button" id="cancel-delete-running-order-songs" @click="cancelDelete">Cancel</button>
  </dialog>

  {% if past_rehearsals %}
    <details id="schedule-edit-past">
      <summary>Show past rehearsals</summary>
      <ul>
        {% for rehearsal in past_rehearsals %}
          <li>
            {{ rehearsal.date }} {{ rehearsal.start_time }}&ndash;{{ rehearsal.end_time }}
            {% if rehearsal.is_full_setlist %}(Dress Rehearsal){% endif %}
          </li>
        {% endfor %}
      </ul>
    </details>
  {% endif %}
</div>
