<div
  id="setlist-edit-surface"
  x-data="setlistEdit('{% url 'scheduling:setlist-edit-confirm-delete' %}')"
  x-init="init()"
>
  <form method="post" action="{% url 'scheduling:setlist-edit' %}" id="setlist-edit-form" @submit="onSubmit">
    {% csrf_token %}
    <input type="hidden" name="semester_updated_at" value="{{ stamp }}">
    {{ formset.management_form }}
    {% if formset.non_form_errors %}
      <ul class="errors">
        {% for error in formset.non_form_errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
    <div class="setlist-edit-header">
      <span></span>
      <span></span>
      <span></span>
      <span>Title</span>
      <span>Artist</span>
      <span>Length</span>
      <span></span>
      <span></span>
    </div>
    <div id="setlist-edit-rows">
      {% for form in formset %}
        {% include "scheduling/_setlist_edit_row.html" %}
      {% endfor %}
    </div>
    <button type="button" id="add-song-row" @click="addRow">+ Add song</button>
    <button type="submit" id="save-setlist-changes">Save Changes</button>
  </form>
  <a href="{% url 'scheduling:setlist' %}" id="cancel-setlist-edit">Cancel</a>

  <template id="setlist-empty-form-template">
    {% include "scheduling/_setlist_edit_row.html" with form=formset.empty_form %}
  </template>

  <dialog id="setlist-delete-confirm-dialog" x-ref="deleteDialog">
    <div id="setlist-delete-confirm-body" x-html="confirmHtml"></div>
    <button type="button" id="confirm-delete-songs" @click="confirmDelete">Delete Anyway</button>
    <button type="button" id="cancel-delete-songs" @click="cancelDelete">Cancel</button>
  </dialog>
</div>
