<div
  id="setlist-edit-surface"
  x-data="setlistEdit('{% url 'scheduling:setlist-edit-confirm-delete' %}', '{% url 'scheduling:setlist-edit-import' %}')"
  x-init="init()"
>
  <form method="post" action="{% url 'scheduling:setlist-edit' %}" id="setlist-edit-form" @submit="onSubmit">
    {% csrf_token %}
    <input type="hidden" name="semester_updated_at" value="{{ stamp }}">
    {{ formset.management_form }}
    {% if formset.non_form_errors %}
      <ul class="errors">
        {% for error in formset.non_form_errors %}<li>{{ error }}</li>{% endfor %}
      </ul>
    {% endif %}
    <div class="setlist-edit-header">
      <span></span>
      <span></span>
      <span></span>
      <span>Title</span>
      <span>Artist</span>
      <span>Length</span>
      <span></span>
      <span></span>
    </div>
    <div id="setlist-edit-rows">
      {% for form in formset %}
        {% include "scheduling/_setlist_edit_row.html" %}
      {% endfor %}
    </div>
    <button type="button" id="add-song-row" @click="addRow">+ Add song</button>
    <button type="submit" id="save-setlist-changes">Save Changes</button>
  </form>
  <p id="setlist-delete-confirm-error" x-show="deleteError" x-text="deleteError" role="alert"></p>
  <a href="{% url 'scheduling:setlist' %}" id="cancel-setlist-edit">Cancel</a>

  <div id="setlist-import">
    <label for="id_playlist_url">Import from Spotify playlist</label>
    <input
      type="text" id="id_playlist_url" name="playlist_url"
      x-model="playlistUrl" placeholder="https://open.spotify.com/playlist/..."
    >
    <button type="button" id="import-playlist-button" @click="importPlaylist" :disabled="importing">
      <span x-text="importing ? 'Importing…' : 'Import'"></span>
    </button>
    <p id="setlist-import-error" x-show="importError" x-text="importError" role="alert"></p>
    <p id="setlist-import-summary" x-show="importSummary" x-text="importSummary"></p>
  </div>

  <template id="setlist-empty-form-template">
    {% include "scheduling/_setlist_edit_row.html" with form=formset.empty_form %}
  </template>

  <dialog id="setlist-delete-confirm-dialog" x-ref="deleteDialog">
    <div id="setlist-delete-confirm-body" x-html="confirmHtml"></div>
    <button type="button" id="confirm-delete-songs" @click="confirmDelete">Delete Anyway</button>
    <button type="button" id="cancel-delete-songs" @click="cancelDelete">Cancel</button>
  </dialog>
</div>
