{% extends "base.html" %}
{% load static %}
{% block title %}Edit Rehearsals{% endblock %}
{% block content %}
<h1>{% if semester %}{{ semester }} Rehearsals{% else %}Rehearsals{% endif %}</h1>

{% for message in messages %}
  <p>{{ message }}</p>
{% endfor %}

<div id="schedule-edit-surface">
{% include "scheduling/_schedule_edit.html" %}
</div>

<script src="{% static 'vendor/sortable-1.15.7.min.js' %}" defer></script>
<script src="{% static 'scheduling/js/schedule_edit.js' %}" defer></script>
{% endblock %}
