<!doctype html>
<title>{% block title %}Rolling Sloans{% endblock %}</title>
<nav>
  <a href="{% url 'scheduling:overview' %}"{% if request.resolver_match.view_name == 'scheduling:overview' %} aria-current="page"{% endif %}>Overview</a>
  <a href="{% url 'scheduling:schedule' %}"{% if request.resolver_match.view_name == 'scheduling:schedule' %} aria-current="page"{% endif %}>My Schedule</a>
  <a href="{% url 'scheduling:conflicts' %}"{% if request.resolver_match.view_name == 'scheduling:conflicts' %} aria-current="page"{% endif %}>Conflicts</a>
  <a href="{% url 'scheduling:setlist' %}"{% if request.resolver_match.view_name == 'scheduling:setlist' %} aria-current="page"{% endif %}>Songs</a>
  <a href="{% url 'scheduling:profile' %}"{% if request.resolver_match.view_name == 'scheduling:profile' %} aria-current="page"{% endif %}>Profile</a>
  <form method="post" action="{% url 'identity:logout' %}">
    {% csrf_token %}
    <button type="submit">Log out</button>
  </form>
</nav>
{% block content %}{% endblock %}
